@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background-color: white;
}

@media all and (max-width: 576px) {
  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: auto;
  }
}

.logo {
  display: inline-block;
  margin: 30px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (max-width: 576px) {
  .logo {
    margin: 12px 0;
  }
}

.logo:hover {
  opacity: 0.6;
}

.logo a {
  display: inline-block;
}

.logo a .logo-img {
  width: 300px;
}

@media all and (max-width: 576px) {
  .logo a .logo-img {
    width: 145px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media all and (max-width: 576px) {
  .nav {
    display: none;
  }
}

.nav .nav-item {
  position: relative;
}

.nav .nav-item .nav-item-a {
  padding: 10px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: #392214;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2.0px;
}

.nav .nav-item .nav-item-a:hover {
  color: #E95516;
}

.nav .nav-item .nav-item-a::after {
  content: "";
  width: 13px;
  height: 1px;
  background-color: #CCCCCC;
  position: absolute;
  right: -5px;
  top: 50%;
}

.nav-item:last-child > a::after {
  display: none;
}

.item-open {
  display: none;
  border: 1px solid #E95516;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 2;
  top: 30px;
  left: calc((100% - 112px)/2);
}

.item-open li:first-child > a {
  background-image: url("../images/dashed.svg");
  background-repeat: repeat-x;
  background-size: 4px 1px;
  background-position: bottom left;
}

.item-open li a {
  display: inline-block;
  padding: 15px 15px 15px 30px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #E95516;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.0px;
}

.item-open li a:hover {
  opacity: 0.5;
}

.item-open li a::before {
  content: "";
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  width: 5px;
  height: 8px;
  position: absolute;
  left: 15px;
  top: 18.5px;
}

.nav .nav-item > .nav-item-a.active {
  color: #E95516;
}

button.hamburger {
  display: none;
}

@media all and (max-width: 576px) {
  button.hamburger {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 0px;
  }
}

.ham-nav.open {
  display: block;
  background-color: rgba(233, 85, 22, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 59px;
  left: 0px;
  z-index: 10;
  padding: 40px;
}

.ham-nav.open .nav-item {
  display: block;
  padding: 30px 0px;
  height: 7px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ham-nav.open .nav-item::after {
  content: "";
  width: 273px;
  color: white;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 31px;
  bottom: 0px;
}

.ham-nav.open .nav-item .nav-item-a {
  position: relative;
}

.ham-nav.open .nav-item a {
  color: #392214;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2.0px;
  color: white;
  padding: 21px 109px;
}

.ham-nav.open .nav-item .item-open.active {
  background-color: #3b9eaf;
}

.ham-nav {
  display: none;
}

.footer {
  width: 100%;
  height: 100%;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 80px;
}

@media all and (max-width: 576px) {
  .footer-wrap {
    margin: 50px 35px;
    text-align: center;
  }
}

.footer-wrap a > img {
  width: 260px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (max-width: 576px) {
  .footer-wrap a > img {
    width: 200px;
  }
}

.footer-wrap a > img:hover {
  opacity: 0.6;
}

.footer-wrap p.address {
  color: #392214;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2.0px;
  margin-bottom: 5px;
}

@media all and (max-width: 576px) {
  .footer-wrap p.address {
    display: inline-block;
    margin-bottom: 25px;
  }
}

.footer-wrap span {
  color: #E95516;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.0px;
  margin-right: 25px;
}

@media all and (max-width: 576px) {
  .footer-wrap span {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.footer-wrap p.text {
  color: #392214;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2.0px;
  margin-top: 30px;
}

@media all and (max-width: 576px) {
  .footer-wrap p.text {
    font-size: 14.5px;
    margin-top: 20px;
  }
}

.footer-wrap p.text a {
  color: #392214;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2.0px;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-wrap p.text a:hover {
  color: #A9C100;
}

.egg-bg > img {
  width: 200px;
}

@media all and (max-width: 576px) {
  .egg-bg > img {
    display: none;
  }
}

.banner {
  width: 100%;
  height: 500px;
  cursor: -webkit-grab;
  cursor: grab;
}

.swiper-pagination-bullet {
  background-color: #646464 !important;
}

.swiper-pagination-bullet-active {
  background-color: #E95516 !important;
}

.products {
  width: 100%;
  height: 100%;
  text-align: center;
}

.products .products-text h4 {
  color: #E95516;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2.0px;
  padding: 40px 0px;
  line-height: 2;
  letter-spacing: 8.5px;
  position: relative;
}

@media all and (max-width: 576px) {
  .products .products-text h4 {
    font-size: 16px;
  }
}

.products .products-text h4::before {
  content: '';
  background-image: url("../images/foot.png");
  background-repeat: no-repeat;
  width: 43px;
  height: 37px;
  display: inline-block;
  -webkit-transform: rotate(350deg) rotateY(180deg);
          transform: rotate(350deg) rotateY(180deg);
  position: absolute;
  left: 495px;
  bottom: 65px;
}

@media all and (max-width: 576px) {
  .products .products-text h4::before {
    display: none;
  }
}

.products .products-text h4::after {
  content: '';
  background-image: url("../images/foot.png");
  background-repeat: no-repeat;
  width: 43px;
  height: 37px;
  display: inline-block;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  position: absolute;
  right: 495px;
  bottom: 65px;
}

@media all and (max-width: 576px) {
  .products .products-text h4::after {
    display: none;
  }
}

.egg-shop {
  background-color: #F9F8EE;
}

@media all and (max-width: 576px) {
  .egg-shop {
    padding-bottom: 35px;
  }
}

.egg-shop h3 {
  color: #E95516;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2.0px;
  padding: 90px 0px 0px 0px;
  position: relative;
  display: inline-block;
  letter-spacing: 12.5px;
}

@media all and (max-width: 576px) {
  .egg-shop h3 {
    font-size: 20px;
    padding-top: 60px;
  }
}

.egg-shop h3::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 2px;
  background-color: #E95516;
  display: inline-block;
  bottom: -20px;
  left: -20px;
}

@media all and (max-width: 576px) {
  .egg-shop h3::after {
    width: 218px;
  }
}

.egg-shop ul.egg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px auto 0px;
}

.egg-shop ul.egg-list li {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.egg-shop ul.egg-list li:hover {
  opacity: 0.6;
}

.egg-shop ul.egg-list li a img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

.egg-shop ul.egg-list li.egg-items2 {
  margin: 0 60px 90px 30px;
}

@media all and (max-width: 576px) {
  .egg-shop ul.egg-list li.egg-items2 {
    margin: 0px 0px 80px;
  }
}

.egg-shop ul.egg-list li.egg-items3 {
  margin: 0 20px 120px;
}

@media all and (max-width: 576px) {
  .egg-shop ul.egg-list li.egg-items3 {
    margin: 0px 0px 80px;
  }
}

.egg-shop ul.egg-list li.egg-items3 .price > .price-text {
  margin-right: 71px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -23px;
  left: 15px;
}

@media all and (max-width: 576px) {
  .price {
    bottom: -48px;
  }
}

.price .price-text {
  text-align: start;
  margin-right: 71px;
}

@media all and (max-width: 576px) {
  .price .price-text {
    margin-bottom: -9px;
  }
}

.price .price-text h5 {
  color: #E95516;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.0px;
  margin-bottom: 10px;
}

.price .price-text p {
  color: #6F5240;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2.0px;
}

.price .big p {
  color: #6F5240;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2.0px;
  margin-top: 5px;
  padding-left: 8px;
}

.egg-items3 > .price {
  bottom: -54px;
}

@media all and (max-width: 576px) {
  .egg-items3 > .price {
    bottom: -48px;
  }
}

.about {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  height: 1000px;
}

.about .aboutBg {
  background-image: url("../images/aboutBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: -1;
}

.about h2 {
  color: #E95516;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2.0px;
  letter-spacing: 8px;
  padding: 120px 0px 40px 0px;
}

@media all and (max-width: 576px) {
  .about h2 {
    padding-right: 35px;
    padding-left: 35px;
    font-size: 19px;
    padding-top: 80px;
  }
}

.about p {
  color: #6F5240;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2.0px;
  line-height: 1.6;
}

@media all and (max-width: 576px) {
  .about p {
    padding-right: 35px;
    padding-left: 35px;
    font-size: 12.5px;
  }
}

.about p.about-text1 {
  margin-bottom: 20px;
}

ul.aboutBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

@media all and (max-width: 576px) {
  ul.aboutBtn {
    padding-right: 35px;
    padding-left: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
}

ul.aboutBtn li {
  margin: 0px 20px;
}

@media all and (max-width: 576px) {
  ul.aboutBtn li {
    margin-top: 60px;
  }
}

ul.aboutBtn li a {
  color: #E95516;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2.0px;
  border: 1px solid #E95516;
  border-radius: 50px;
  padding: 12px 28px 12px 30px;
  background-color: rgba(255, 255, 255, 0.582);
}

ul.aboutBtn li a:hover {
  opacity: 0.6;
}

ul.aboutBtn li a::before {
  content: '';
  background-image: url("../images/arrow-dot.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
  display: inline-block;
  margin-right: 12px;
}

.lb-data .lb-close {
  position: absolute;
  top: -40px;
  right: 160px;
}

.lb-data .lb-number {
  text-align: center;
  margin-top: 10px;
}

.lb-data .lb-details {
  width: 100% !important;
}

.contact {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  height: 810px;
}

@media all and (max-width: 576px) {
  .contact {
    height: 955px;
  }
}

.contact .contact-bg {
  background-color: #F9F8EE;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.contact h3 {
  color: #E95516;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2.0px;
  padding: 90px 0px 30px;
  position: relative;
  display: inline-block;
  letter-spacing: 12.5px;
}

@media all and (max-width: 576px) {
  .contact h3 {
    font-size: 20px;
    padding-top: 60px;
  }
}

.contact p {
  color: #6F5240;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2.0px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

@media all and (max-width: 576px) {
  .contact p {
    padding: 0px 50px;
    line-height: 1.6;
    font-size: 14px;
  }
}

.contact-card {
  width: 800px;
  background-color: rgba(255, 255, 255, 0.644);
  border: 2px solid rgba(206, 206, 206, 0.726);
  margin: 0 auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 12px #e0decdc0;
          box-shadow: 0 10px 12px #e0decdc0;
}

@media all and (max-width: 576px) {
  .contact-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.contact-card .swiper {
  width: 465px;
  height: auto;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 8px;
}

@media all and (max-width: 576px) {
  .contact-card .swiper {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
}

.form {
  margin: 40px 50px 42px 50px;
  text-align: start;
}

@media all and (max-width: 576px) {
  .form {
    margin: 40px 10px 40px 20px;
  }
}

.form form {
  display: inline-block;
}

.form form label {
  color: #E95516;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2.0px;
}

.form form input {
  margin: 8px 0px 18px 0px;
  width: 250px;
  border-radius: 5px;
  border: 1.5px solid rgba(150, 150, 150, 0.726);
  padding: 6px;
}

.form form input:focus-visible {
  background-color: #F9F8EE;
  outline: none;
  border: 2px solid rgba(138, 138, 138, 0.726);
}

.form form input::-webkit-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form input:-ms-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form input::-ms-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form input::placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form textarea {
  margin: 8px 0px 18px 0px;
  width: 250px;
  border-radius: 5px;
  border: 1.5px solid rgba(150, 150, 150, 0.726);
  padding: 5px;
  resize: none;
}

.form form textarea:focus-visible {
  background-color: #F9F8EE;
  outline: none;
  border: 2px solid rgba(138, 138, 138, 0.726);
}

.form form textarea::-webkit-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form textarea:-ms-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form textarea::-ms-input-placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form form textarea::placeholder {
  letter-spacing: 0.6px;
  color: #b6b6b6;
}

.form .submit-btn {
  background-color: #E95516;
  color: white;
  border: 1px solid #E95516;
  border-radius: 5px;
  padding: 10px 98px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media all and (max-width: 576px) {
  .form .submit-btn {
    margin-bottom: 0px;
  }
}

.form .submit-btn:hover {
  opacity: 0.6;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

@media all and (max-width: 576px) {
  .top {
    display: none !important;
  }
}

.top:hover {
  opacity: 0.6;
}

@media all and (max-width: 576px) {
  .lb-data .lb-close {
    right: 8px !important;
  }
}
/*# sourceMappingURL=all.css.map */