.header {
  @include fullCenter;
  position: relative;
  background-color: white;

  @include mobile{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: auto;
  }
}


// logo區塊
.logo {
  // border: 1px solid red;
  display: inline-block;
  margin: 30px 0;
  transition: all 0.3s;

  @include mobile{
    margin: 12px 0;
  }
  
  &:hover {
    opacity: 0.6;
  }
  a {
    // border: 1px solid paleturquoise;
    display: inline-block;

    .logo-img {
      width: 300px;
      
      @include mobile{
        width: 145px;
      }
    }
  }
}


// 下拉式選單
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  // border: 1px solid olivedrab;
  
  @include mobile{
   display: none;
   
  }

  .nav-item {
    position: relative;
    // border: 1px solid olivedrab;



    .nav-item-a {
      padding: 10px 30px;
      transition: all 0.3s;
      position: relative;
      @include font($tertiary, 700, 15px);
  
      &:hover {
        color: $primary;
      }
      &::after {
        content: "";
        width: 13px;
        height: 1px;
        background-color: #CCCCCC;
        position: absolute;
        right: -5px;
        top: 50%;
      }
    }
  }
}

.nav-item:last-child > a::after {
  display: none;
}

// 下拉式選單(展開)
.item-open {
  display: none;
  // margin-top: 20px;
  border: 1px solid $primary;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 2;
  top: 30px;
  left: calc((100% - 112px)/2);

  li {
    &:first-child > a {
      @include img-svg(dashed, repeat-x);
      background-size: 4px 1px;
      background-position: bottom left;
    }

    a {
      display: inline-block;
      padding: 15px 15px 15px 30px;
      position: relative;
      transition: all 0.3s;
      // border: 1px solid pink;
      @include font($primary, 700, 14px);
      
      &:hover {
        opacity: 0.5;
      }
      &::before {
        content: "";
        @include img-svg(arrow, no-repeat);
        width: 5px;
        height: 8px;
        position: absolute;
        left: 15px;
        top: 18.5px;
      }
    }
  }
}

.nav .nav-item > .nav-item-a.active {
  color: $primary;
}

// 漢堡選單
button.hamburger {
  display: none;

  @include mobile {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 0px;
  }
}

.ham-nav.open {
  display: block;
  // background-color: rgba(219, 240, 185, 0.90);
  background-color: rgba(233, 85, 22, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 59px;
  left: 0px;
  z-index: 10;
  // padding-top: 40px;
  padding: 40px;

  .nav-item {
    display: block;
    padding: 30px 0px;
    height: 7px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      width: 273px;
      color: white;
      height: 0.5px;
      background-color: rgba(256, 256, 256, 0.4);
      position: absolute;
      left: 31px;
      bottom: 0px;
    }

    .nav-item-a {
      position: relative;
    }

    a {
      @include font($tertiary, 400, 17px);
      color: white;
      padding: 21px 109px;
    }

    .item-open.active {
      background-color: rgb(59, 158, 175);
    }
  }
}

.ham-nav {
  display: none;
}