// 顏色
$primary: #E95516;   // 主色
$secondary: #6F5240; // 輔色
$tertiary: #392214;  // 輔色
$accent: #A9C100;    // 強調色
$bg-primary: #F9F8EE; // 背景色

// 字體大小
$fontSize-base: 16px; // 預設
$fontSize-h1: 35px;
$fontSize-h2: 30px;
$fontSize-h3: 25px;
$fontSize-h4: 20px;
$fontSize-h5: 18px;